
/* 
 * My97���ڿؼ� My97 DatePicker Ver 3.0.1
 * Ƥ�����:whyGreen
 * Ƥ������:why
 */
 
/* ����ѡ������ DIV */
.WdateDiv{
	width:180px;
	background-color:#fff;
	border:#C5E1E4 1px solid;
	padding:2px;
}
.WdateDiv *{font-size:9pt;}
/****************************
 * ����·����
 ***************************/
/* ����·��� DIV */
.WdateDiv #dpTitle{
	height:24px;
	border:#c5d9e8 1px solid;
	color:#70A5AB;
	background:url(bg.jpg);
	margin-bottom:2px;
}
/* ����·������ INPUT */
.WdateDiv .yminput{
	padding-top:2px;
	text-align:center;
	border:0px;
	height:16px;
	color:#034c50;
	background:url(ymbg.jpg);
	cursor:pointer;
}
/* ����·�������ý���ʱ����ʽ INPUT */
.WdateDiv .yminputfocus{
	text-align:center;
	font-weight:bold;
	color:#034c50;
	border:#939393 1px solid;
	height:16px;
}
/* ����·�ѡ��� DIV */
.WdateDiv .ymsel{
	position:absolute;
	margin-left:24px;
	top:23px;
	background-color:#FFFFFF;
	padding:2px;
	border:#A3C6C8 1px solid;
	display:none;
}
/* ����ѡ������ʽ TD */
.WdateDiv .Wym{
	cursor:pointer;
	background-color:#fff;
	color:#11777C;
}
/* ����ѡ����mouseover��ʽ TD */
.WdateDiv .WymOn{
	cursor:pointer;
	background-color:#BEEBEE;
}
/* ����ѡ�����Чʱ����ʽ TD */
.WdateDiv .Winvalidym{
	color:#aaa;
}
/****************************
 * ����,�������
 ***************************/
/* ��������� TABLE */
.WdateDiv #dpDayTable{
	line-height:20px;	
	color:#13777e;
	background-color:#edfbfb;
	border:#BEE9F0 1px solid;
}
/* ������ TR */
.WdateDiv #dpWeekTitle{
	color:#13777e;
	background-color:#bdebee;
}
/* ���ڸ����ʽ TD */
.WdateDiv .Wday{
	cursor:pointer;
}
/* ���ڸ��mouseover��ʽ TD */
.WdateDiv .WdayOn{
	cursor:pointer;
	background-color:#74d2d9 ;
}
/* ��ĩ���ڸ����ʽ TD */
.WdateDiv .Wwday{
	cursor:pointer;
	color:#ab1e1e;
}
/* ��ĩ���ڸ��mouseover��ʽ TD */
.WdateDiv .WwdayOn{
	cursor:pointer;
	background-color:#74d2d9;
}
.WdateDiv .Wtoday{
	cursor:pointer;
	color:blue;
}
.WdateDiv .Wselday{
	color:red;
	background-color:#B3E6EA;
}
/* ��Ч���ڵ���ʽ,�������ڷ�Χ�������ڸ����ʽ,����ѡ������� */
.WdateDiv .WinvalidDay{
	color:#aaa;
}
/****************************
 * ʱ�����
 ***************************/
/* ʱ���� DIV */
.WdateDiv #dpTime{
	
}
/* ʱ������ SPAN */
.WdateDiv #dpTime #dpTimeStr{
	margin-left:1px;
	color:#497F7F;
}
/* ʱ������� INPUT */
.WdateDiv #dpTime input{
	height:16px;
	width:18px;
	text-align:center;
	color:#333;
	border:#61CAD0 1px solid;	
}
/* ʱ�� ʱ INPUT */
.WdateDiv #dpTime .tB{
	border-right:0px;
}
/* ʱ�� �ֺͼ���� ':' INPUT */
.WdateDiv #dpTime .tE{
	border-left:0;
	border-right:0;
}
/* ʱ�� �� INPUT */
.WdateDiv #dpTime .tm{
	width:7px;
	border-left:0;
	border-right:0;
}
/* ʱ���ұߵ����ϰ�ť BUTTON */
.WdateDiv #dpTime #dpTimeUp{
	height:10px;
	width:13px;
	border:0px;
	background-image:url(up.jpg);
}
/* ʱ���ұߵ����°�ť BUTTON */
.WdateDiv #dpTime #dpTimeDown{
	height:10px;
	width:13px;
	border:0px;
	background-image:url(down.jpg);
}
/****************************
 * ����
 ***************************/
/* ȷ���ͼ��찴ť INPUT */
.WdateDiv #dpButton input{ 
	height:20px;
	width:45px;
	padding:2px;
	border:#38B1B9 1px solid;
	background-color:#CFEBEE;
	color:#08575B;
}