/* 
 * My97 DatePicker Ver 3.0.1
 * default
 * My97
 */
/*DIV */
.WdateDiv{
	width:180px;
	background-color:#FFFFFF;
	border:#bbb 1px solid;
	padding:2px;
}
.WdateDiv *{font-size:9pt;}

/****************************
 *
 ***************************/
/*DIV */
.WdateDiv #dpTitle{
	height:26px;
	margin-bottom:2px;
}
/*INPUT */
.WdateDiv .yminput{
	padding-top:2px;
	text-align:center;
	border:0px;
	height:16px;
	cursor:pointer;	
}
/* INPUT */
.WdateDiv .yminputfocus{
	text-align:center;
	font-weight:bold;
	color:blue;
	border:#ccc 1px solid;
	height:16px;
}
/* DIV */
.WdateDiv .ymsel{
	position:absolute;
	margin-left:24px;
	top:22px;
	background-color:#FFFFFF;
	padding:2px;
	border:#ccc 1px solid;
	display:none;
}
/* TD */
.WdateDiv .Wym{
	cursor:pointer;
	background-color:#fff;
}
/*mouseover TD */
.WdateDiv .WymOn{
	cursor:pointer;
	background-color:#BEEBEE;
}
/*TD */
.WdateDiv .Winvalidym{
	color:#aaa;
}
/****************************
 *
 ***************************/
/*TR */
.WdateDiv #dpWeekTitle{
	background-color:#BDEBEE;
}
/* TABLE */
.WdateDiv #dpDayTable{
	line-height:20px;
	border:#c5d9e8 1px solid;
}
/*TD */
.WdateDiv .Wday{
	cursor:pointer;
}
/*TD */
.WdateDiv .WdayOn{
	cursor:pointer;
	background-color:#C0EBEF;
}
/*TD */
.WdateDiv .Wwday{
	cursor:pointer;
	color:#FF2F2F;
}
/* TD */
.WdateDiv .WwdayOn{
	cursor:pointer;
	color:#000;
	background-color:#C0EBEF;
}
.WdateDiv .Wtoday{
	cursor:pointer;
	color:blue;
}
.WdateDiv .Wselday{
	background-color:#D8F3F5;
	color:red;
}
/**/
.WdateDiv .WinvalidDay{
	color:#aaa;
}

/****************************
 *
 ***************************/
/* DIV */
.WdateDiv #dpTime{
	
}
/* SPAN */
.WdateDiv #dpTime #dpTimeStr{
	margin-left:1px;
}
/* INPUT */
.WdateDiv #dpTime input{
	height:16px;
	width:18px;
	text-align:center;
	border:#ccc 1px solid;	
}
/*INPUT */
.WdateDiv #dpTime .tB{
	border-right:0px;
}
/* ':' INPUT */
.WdateDiv #dpTime .tE{
	border-left:0;
	border-right:0;
}
/*INPUT */
.WdateDiv #dpTime .tm{
	width:7px;
	border-left:0;
	border-right:0;
}
/*BUTTON */
.WdateDiv #dpTime #dpTimeUp{
	height:10px;
	width:13px;
	border:0px;
	background-image:url(up.jpg);
}
/*BUTTON */
.WdateDiv #dpTime #dpTimeDown{
	height:10px;
	width:13px;
	border:0px;
	background-image:url(down.jpg);
}

.WdateDiv #dpButton input{ 
	height:20px;
	width:45px;
	border:#ccc 1px solid;
	padding:2px;
}